%h2 Please log in

.tweetme-form
  - form_tag do
    %fieldset
      .width_40
        %label{:for => "email"} Email:
      = text_field_tag :email, params[:email]
      .width_40
        %label{:for => "password"} Password:
      = password_field_tag :password, params[:password]
      .width_40
        = submit_tag "Login"
      .width_40
        = link_to "create new user", :controller => :users, :action => :new

