%h2
  What is this app all about?
.explanation
  In his autobiography, Benjamin Franklin outlined a plan for personal self-improvement that he followed daily for decades. 
  This app lets you practice his method on your computer. What you do is simple:

  %ul
    %li
      Pick some virtues - use Ben Franklin's or make your own!
    %li
      Every week the app will set a new virtue for you to work on. However, you should mark on the results page which virtues you violated that day.
    %li
      If you pick virtues that challenge you, you will fail a lot. Don't get discouraged!

%h2
  Can I read it in Benjamin Franklin's own words?
.explanation
  %p 
    Of course! It's all in 
    = link_to "chapter 8 of his autobiography", "http://www.earlyamerica.com/lives/franklin/chapt8/"

  %p.quote It was about this time I conceiv'd the bold and arduous project of arriving at moral perfection. I wish'd to live without committing any fault at any time; I would conquer all that either natural inclination, custom, or company might lead me into. As I knew, or thought I knew, what was right and wrong, I did not see why I might not always do the one and avoid the other. But I soon found I had undertaken a task of more difficulty than I bad imagined. While my care was employ'd in guarding against one fault, I was often surprised by another; habit took the advantage of inattention; inclination was sometimes too strong for reason. I concluded, at length, that the mere speculative conviction that it was our interest to be completely virtuous, was not sufficient to prevent our slipping; and that the contrary habits must be broken, and good ones acquired and established, before we can have any dependence on a steady, uniform rectitude of conduct. For this purpose I therefore contrived the following method.

  %p.quote  In the various enumerations of the moral virtues I had met with in my reading, I found the catalogue more or less numerous, as different writers included more or fewer ideas under the same name. Temperance, for example, was by some confined to eating and drinking, while by others it was extended to mean the moderating every other pleasure, appetite, inclination, or passion, bodily or mental, even to our avarice and ambition. I propos'd to myself, for the sake of clearness, to use rather more names, with fewer ideas annex'd to each, than a few names with more ideas; and I included under thirteen names of virtues all that at that time occurr'd to me as necessary or desirable, and annexed to each a short precept, which fully express'd the extent I gave to its meaning.

  %p.quote  These names of virtues, with their precepts, were

  %p.quote  1. TEMPERANCE. Eat not to dullness; drink not to elevation.

  %p.quote  2. SILENCE. Speak not but what may benefit others or yourself; avoid trifling conversation.

  %p.quote  3. ORDER. Let all your things have their places; let each part of your business have its time.

  %p.quote  4. RESOLUTION. Resolve to perform what you ought; perform without fail what you resolve.

  %p.quote  5. FRUGALITY. Make no expense but to do good to others or yourself; i.e., waste nothing.

  %p.quote  6. INDUSTRY. Lose no time; be always employ'd in something useful; cut off all unnecessary actions.

  %p.quote  7. SINCERITY. Use no hurtful deceit; think innocently and justly, and, if you speak, speak accordingly.

  %p.quote  8. JUSTICE. Wrong none by doing injuries, or omitting the benefits that are your duty.

  %p.quote  9. MODERATION. Avoid extreams; forbear resenting injuries so much as you think they deserve.

  %p.quote  10. CLEANLINESS. Tolerate no uncleanliness in body, cloaths, or habitation.

  %p.quote  11. TRANQUILLITY. Be not disturbed at trifles, or at accidents common or unavoidable.

  %p.quote  12. CHASTITY. Rarely use venery but for health or offspring, never to dulness, weakness, or the injury of your own or another's peace or reputation.

  %p.quote  13. HUMILITY. Imitate Jesus and Socrates.

  %p.quote  My intention being to acquire the habitude of all these virtues, I judg'd it would be well not to distract my attention by attempting the whole at once, but to fix it on one of them at a time; and, when I should be master of that, then to proceed to another, and so on, till I should have gone thro' the thirteen; and, as the previous acquisition of some might facilitate the acquisition of certain others, I arrang'd them with that view, as they stand above. Temperance first, as it tends to procure that coolness and clearness of head, which is so necessary where constant vigilance was to be kept up, and guard maintained against the unremitting attraction of ancient habits, and the force of perpetual temptations. This being acquir'd and establish'd, Silence would be more easy; and my desire being to gain knowledge at the same time that I improv'd in virtue, and considering that in conversation it was obtain'd rather by the use of the ears than of the tongue, and therefore wishing to break a habit I was getting into of prattling, punning, and joking, which only made me acceptable to trifling company, I gave Silence the second place. This and the next, Order, I expected would allow me more time for attending to my project and my studies. Resolution, once become habitual, would keep me firm in my endeavors to obtain all the subsequent virtues; Frugality and Industry freeing me from my remaining debt, and producing affluence and independence, would make more easy the practice of Sincerity and Justice, etc., etc. Conceiving then, that, agreeably to the advice of Pythagoras in his Golden Verses, daily examination would be necessary, I contrived the following method for conducting that examination.

  %p.quote  I made a little book, in which I allotted a page for each of the virtues. I rul'd each page with red ink, so as to have seven columns, one for each day of the week, marking each column with a letter for the day. I cross'd these columns with thirteen red lines, marking the beginning of each line with the first letter of one of the virtues, on which line, and in its proper column, I might mark, by a little black spot, every fault I found upon examination to have been committed respecting that virtue upon that day.
  
  %p.quote  I determined to give a week's strict attention to each of the virtues successively. Thus, in the first week, my great guard was to avoid every the least offence against Temperance, leaving the other virtues to their ordinary chance, only marking every evening the faults of the day. Thus, if in the first week I could keep my first line, marked T, clear of spots, I suppos'd the habit of that virtue so much strengthen'd and its opposite weaken'd, that I might venture extending my attention to include the next, and for the following week keep both lines clear of spots. Proceeding thus to the last, I could go thro' a course compleat in thirteen weeks, and four courses in a year. And like him who, having a garden to weed, does not attempt to eradicate all the bad herbs at once, which would exceed his reach and his strength, but works on one of the beds at a time, and, having accomplish'd the first, proceeds to a second, so I should have, I hoped, the encouraging pleasure of seeing on my pages the progress I made in virtue, by clearing successively my lines of their spots, till in the end, by a number of courses, I should he happy in viewing a clean book, after a thirteen weeks' daily examination.

%h2
  Is the whole autobiography worth reading?
.explanation
  I thoroughly enjoyed it - so I would say so.

%h2
  Anyone you want to thank?
.explanation
  I used the following technologies to create the site:
  %ul
    %li Ruby on Rails 2.3.11
    %li Haml
    %li Postgres in production, MySql for development
    %li Compass/Sass
    %li Heroku
    %li Git
    %li Vi
  I used the following for the site design:
  %ul
    %li Color Scheme Designer available at http://colorschemedesigner.com/
    %li The "Pierce" font available at http://openfontlibrary.org/font/pierce
    %li A portrait of Benjamin Franklin by Charles Wilson Peale available at http://commons.wikimedia.org/wiki/File:Peale_-_Benjamin_Franklin.jpg
  This site was created with the help and input of my husband Chris Bisignani

